.basket {
  &__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    max-height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  &__drawer {
    position: absolute;
    right: 0;
    width: 385px;
    height: 100%;
    background: #ffffff;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
    padding: 30px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
  }
  &__top_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
  &__close_btn{

    cursor: pointer;
    &:hover{
      rect {
        fill: rgba(0, 0, 0, 0.1);
        transition: all 0.15s ease-in-out;
      }
      path {
        transition: all 0.15s ease-in-out;
        fill: #807e7e;
      }
    }
  }

  &__title {
    font-weight: bold;
    font-size: 24px;
    color: #000000;

  }
  &__box {
    height: 100%;
    overflow: auto;
  }

  &__item {
    border-radius: 20px;
    padding: 20px;
    border: 1px solid #f3f3f3;
    overflow: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    &_img {
      margin-right: 10px;
      position: relative;
      top: -5px;
    }
    &_text {
      width: 100%;
      line-height: 100%;
      margin-right: 10px;
    }
    &_description {
      margin-bottom: 8px;
      text-align: left;
    }
    &_price {
      font-weight: 700;
    }

    &_clouse {
      cursor: pointer;
      transition: all 0.15s ease-in-out;
      &:hover {
        rect {
          fill: rgba(0, 0, 0, 0.1);
          transition: all 0.15s ease-in-out;
        }
        path {
          transition: all 0.15s ease-in-out;
          fill: #807e7e;
        }
      }
    }
  }

  &__button {
    width: 100%;
    position: relative;
    transition: all 0.2s ease-in-out;

    &:hover {
      cursor: pointer;
      .basket__button_arrow {
        right: 30px;
        transition: all 0.2s ease-in-out;
      }
      background: #a8e45f;
      transition: all 0.2s ease-in-out;
    }
    &:active {
      background: #7eaa48;
      transition: all 0.2s ease-in-out;
    }
    &_arrow {
      position: absolute;
      right: 40px;
      top: 21px;
    }
  }
  &__bottom_total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  &__bottom_character {
    font-size: 16px;
    margin-right: 10px;
    float: left;
    margin-right: auto;
  }

  &__bottom_dashed {
    flex: 1;
    border-bottom: 1px dashed grey;
    margin: 0 10px;
    position: relative;
    top: 6px;
  }

  &__bottom_price {
    font-size: 16px;
    font-weight: bold;
    margin-left: auto;
    align-items:flex-start;
  }
}
